<ion-header>
  <ion-toolbar class="background-color-darkblue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recuperar"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>

  <ion-toolbar class="background-color-yellow">
    <ion-text color="tertiary">
      <p>Hemos enviado un codigo de validacion a tu correo electronico. Ingresalo para que podamos continuar</p>
    </ion-text>
  </ion-toolbar>
    
</ion-header>

<ion-content clas="background-color-yellow">
  <form>
    <ion-toolbar class="background-color-dark">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-input type="password" required placeholder="codigo de verificación"></ion-input>
          </ion-item>
                  
        
        </ion-col>
      </ion-row>
    </ion-toolbar>  
    <ion-button routerLink="/bienvenido" type="submit" color="tertiary" shape="round" expand="block">Verificar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="background-color-dark">
    <ion-row>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1200px-Logo_DuocUC.svg.png" alt="Logo_DuocUC">
      </ion-col>
    </ion-row>
  </ion-toolbar>