<ion-header>
  <ion-toolbar class="background-color-gray">
    <ion-title size="small">Gracias por acceder a nuestro sitio web. Puede cerrar la ventana o navegador si así lo desea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-color-dark">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1200px-Logo_DuocUC.svg.png">

</ion-content>

<ion-footer>
  <ion-toolbar class="background-color-darkblue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title size="large">Volver a la App</ion-title>
  </ion-toolbar>
</ion-footer>