.background-color-blue {
    --background: #1c9bd6;
  }
  
  .background-color-white {
    --background: #ffffff;
  }

  .background-color-gray {
    --background: #5b5c63;
  }

  .background-color-darkblue {
    --background: #000157;
  }

  .background-color-yellow { 
    --background: #d69914de;
  }

  .background-color-dark {
    --background: #000000;
  }

  .forget {
    text-decoration:none;
    font-size:15px;
    line-height:20px;
    color: whitesmoke;
  }

  .white {
    --color: #ffffff;
  }

  /* THE BASE */
.bar {
  padding: 10px;
  margin: 10px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}

/* THE VARIATIONS */
.info {
  color: #204a8e;
  background: #c9ddff;
  border: 1px solid #4c699b;
}
.success {
  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
}
.warn {
  color: #756e15;
  background: #fffbd1;
  border: 1px solid #87803e;
}
.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}

/* ICONS */
.ico {
  display: inline-block;
  width: 20px;
  text-align: center; 
  font-style: normal;
  font-weight: bold;
}